In [1]:
import pandas as pd

In [2]:
data= pd.read_csv("../input/sunpharmastockdata/SUNPHARMA.csv")
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-12-01,145.354996,155.500000,145.354996,153.990005,144.129593,4338810.0
1,2009-12-02,156.399994,160.000000,148.660004,149.720001,140.133011,4689480.0
2,2009-12-03,150.014999,152.100006,148.750000,149.475006,139.903687,2534030.0
3,2009-12-04,148.500000,150.880005,145.110001,148.270004,138.775833,1216690.0
4,2009-12-07,148.509995,149.789993,144.110001,145.190002,135.893051,1559620.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2801 entries, 0 to 2800
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2801 non-null   object
 1   Open       2787 non-null   float64
 2   High       2787 non-null   float64
 3   Low        2787 non-null   float64
 4   Close      2787 non-null   float64
 5   Adj Close  2787 non-null   float64
 6   Volume     2787 non-null   float64
dtypes: float64(6), object(1)
memory usage: 153.3+ KB

In [4]:
data= data.dropna()  # Drop rows with Nan 
data.reset_index(drop=True, inplace=True) # Reset index after droping rows

In [5]:
data.isna().any() # Verifying

Date         False
Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [6]:
len(data) # Size of new dataset

2787

# Approch
We will calculate the % growth for the required time stamps(1- previous day, 30- month) and add them to a new coloumn of the data set.
For time stamp= 1
the first row of dataset needs to be deleted, because for 2010-01-04 there is no previous day present in the dataset

Similarlly for time stamp=30
first 30 rows will be deleted to calculate % growth

# For Time stamp = 1

In [7]:
data1= data.copy()

In [8]:
data1.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
2782,2021-03-23,591.200012,594.700012,583.000000,587.849976,587.849976,5341729.0
2783,2021-03-24,585.000000,597.000000,583.200012,585.299988,585.299988,7299582.0
2784,2021-03-25,584.400024,587.950012,571.500000,575.750000,575.750000,4710869.0
2785,2021-03-26,580.849976,590.299988,574.599976,587.200012,587.200012,5761818.0
2786,2021-03-30,594.950012,599.000000,587.250000,597.700012,597.700012,4637718.0

In [9]:
# 1 day % rate calculation
percent=[]
for i in range(len(data1)):
    if i+1<len(data1):
        p0= data1["Close"][i]
        p1= data1["Close"][i+1]
        
        percent.append(((p1-p0)/p0)*100)

In [10]:
# Drop 1st row of data1
data1= data1.iloc[1:, :]
data1.head()

,Date,Open,High,Low,Close,Adj Close,Volume
1,2009-12-02,156.399994,160.000000,148.660004,149.720001,140.133011,4689480.0
2,2009-12-03,150.014999,152.100006,148.750000,149.475006,139.903687,2534030.0
3,2009-12-04,148.500000,150.880005,145.110001,148.270004,138.775833,1216690.0
4,2009-12-07,148.509995,149.789993,144.110001,145.190002,135.893051,1559620.0
5,2009-12-08,145.300003,148.199997,144.535004,146.479996,137.100494,1795420.0

In [11]:
# Adding percent column to data1
data1["Growth% of Close from previous day"]= percent

In [12]:
# Setting Date as index
data1.set_index("Date", inplace = True)
data1.head()

,Open,High,Low,Close,Adj Close,Volume,Growth% of Close from previous day
Date,,,,,,,
2009-12-02,156.399994,160.000000,148.660004,149.720001,140.133011,4689480.0,-2.772910
2009-12-03,150.014999,152.100006,148.750000,149.475006,139.903687,2534030.0,-0.163635
2009-12-04,148.500000,150.880005,145.110001,148.270004,138.775833,1216690.0,-0.806156
2009-12-07,148.509995,149.789993,144.110001,145.190002,135.893051,1559620.0,-2.077293
2009-12-08,145.300003,148.199997,144.535004,146.479996,137.100494,1795420.0,0.888487

### Saving the dataset...

In [13]:
data1.to_csv("PreviousDayClose%.csv", index=True)

# For Time stamp = 30
similar code.....

In [14]:
data2= data.copy()

In [15]:
# Growth calculation for ecery 30 active days
percent=[]
for i in range(len(data2)):
    if i+30<len(data2):
        p0= data2["Close"][i]
        p1= data2["Close"][i+30]
        
        percent.append(((p1-p0)/p0)*100)

In [16]:
len(percent)

2757

In [17]:
# Drop 1st row of data1
data2= data.iloc[30:, :]
len(data2)

2757

In [18]:
# Adding percent column to data1
data2["Growth% of Close from previous 30 days"]= percent

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
# Setting Date as new index
data2.set_index("Date", inplace = True)
data2.head()

,Open,High,Low,Close,Adj Close,Volume,Growth% of Close from previous 30 days
Date,,,,,,,
2010-01-22,145.000000,145.000000,140.000000,143.199997,134.030457,3423490.0,-7.006953
2010-01-25,144.449997,145.600006,140.000000,144.449997,135.200455,2196320.0,-3.519906
2010-01-27,143.600006,144.485001,140.289993,142.100006,133.000931,2767580.0,-4.933935
2010-01-28,142.500000,148.994995,141.009995,144.619995,135.359573,3399690.0,-2.461731
2010-01-29,142.000000,152.500000,142.000000,147.304993,137.872635,3314050.0,1.456706

### Saving the dataset.....

In [20]:
data2.to_csv("Previous30DayClose%.csv", index=True)