In [1]:
import pandas as pd

In [2]:
data= pd.read_csv("../input/sunpharmastockdata/SUNPHARMA.csv")
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-12-01,145.354996,155.500000,145.354996,153.990005,144.129593,4338810.0
1,2009-12-02,156.399994,160.000000,148.660004,149.720001,140.133011,4689480.0
2,2009-12-03,150.014999,152.100006,148.750000,149.475006,139.903687,2534030.0
3,2009-12-04,148.500000,150.880005,145.110001,148.270004,138.775833,1216690.0
4,2009-12-07,148.509995,149.789993,144.110001,145.190002,135.893051,1559620.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2801 entries, 0 to 2800
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2801 non-null   object
 1   Open       2787 non-null   float64
 2   High       2787 non-null   float64
 3   Low        2787 non-null   float64
 4   Close      2787 non-null   float64
 5   Adj Close  2787 non-null   float64
 6   Volume     2787 non-null   float64
dtypes: float64(6), object(1)
memory usage: 153.3+ KB

In [4]:
data= data.dropna()  # Drop rows with Nan 
data.reset_index(drop=True, inplace=True) # Reset index after droping rows

In [5]:
data.isna().any() # Verifying

Date         False
Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [6]:
len(data) # Size of new dataset

2787

# Approch
We will calculate the % growth for the required time stamps(1- previous day, 30- month) and add them to a new coloumn of the data set.
For time stamp= 1
the last row of dataset needs to be deleted, because it cannot be previous day for any other date in dataset 

Similarlly for time stamp=30
last 30 rows will be deleted to calculate % growth

# For Time stamp = 1

In [7]:
data1= data.copy()

In [8]:
data1.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
2782,2021-03-23,591.200012,594.700012,583.000000,587.849976,587.849976,5341729.0
2783,2021-03-24,585.000000,597.000000,583.200012,585.299988,585.299988,7299582.0
2784,2021-03-25,584.400024,587.950012,571.500000,575.750000,575.750000,4710869.0
2785,2021-03-26,580.849976,590.299988,574.599976,587.200012,587.200012,5761818.0
2786,2021-03-30,594.950012,599.000000,587.250000,597.700012,597.700012,4637718.0

In [9]:
# 1 day % rate calculation
percent=[]
for i in range(len(data1)):
    if i+1<len(data1):
        p0= data1["Close"][i]
        p1= data1["Close"][i+1]
        
        percent.append(((p1-p0)/p0)*100)

In [10]:
# Drop 1st row of data1
data1= data1.iloc[:-1, :]
data1.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
2781,2021-03-22,578.599976,593.599976,578.599976,591.000000,591.000000,7033955.0
2782,2021-03-23,591.200012,594.700012,583.000000,587.849976,587.849976,5341729.0
2783,2021-03-24,585.000000,597.000000,583.200012,585.299988,585.299988,7299582.0
2784,2021-03-25,584.400024,587.950012,571.500000,575.750000,575.750000,4710869.0
2785,2021-03-26,580.849976,590.299988,574.599976,587.200012,587.200012,5761818.0

In [11]:
# Adding percent column to data1
data1["Growth% of Close from previous day"]= percent

In [12]:
# Setting Date as index
data1.set_index("Date", inplace = True)
data1.head(25)

,Open,High,Low,Close,Adj Close,Volume,Growth% of Close from previous day
Date,,,,,,,
2009-12-01,145.354996,155.500000,145.354996,153.990005,144.129593,4338810.0,-2.772910
2009-12-02,156.399994,160.000000,148.660004,149.720001,140.133011,4689480.0,-0.163635
2009-12-03,150.014999,152.100006,148.750000,149.475006,139.903687,2534030.0,-0.806156
2009-12-04,148.500000,150.880005,145.110001,148.270004,138.775833,1216690.0,-2.077293
2009-12-07,148.509995,149.789993,144.110001,145.190002,135.893051,1559620.0,0.888487
2009-12-08,145.300003,148.199997,144.535004,146.479996,137.100494,1795420.0,1.034270
2009-12-09,147.000000,149.695007,143.910004,147.994995,138.518448,2182250.0,-1.837901
2009-12-10,149.500000,149.500000,144.899994,145.274994,135.972641,1275630.0,-0.722759
2009-12-11,146.100006,146.940002,143.005005,144.225006,134.989868,1726640.0,0.908302
2009-12-14,144.199997,147.800003,144.199997,145.535004,136.215958,1368280.0,-0.106503
2009-12-15,146.199997,146.899994,144.625000,145.380005,136.070908,915890.0,1.334435
2009-12-16,146.800003,148.000000,145.320007,147.320007,137.886673,1155240.0,1.069099
2009-12-17,147.990005,149.759995,146.005005,148.895004,139.360840,1802490.0,1.061152
2009-12-18,149.470001,152.250000,147.699997,150.475006,140.839645,2254220.0,-0.425319
2009-12-21,150.899994,151.399994,147.509995,149.835007,140.240646,1124660.0,0.306998
2009-12-22,151.399994,151.500000,147.949997,150.294998,140.671188,1466110.0,0.292760
2010-01-04,153.800003,153.800003,150.110001,150.735001,141.083023,831170.0,3.005273
2010-01-05,152.199997,155.880005,151.304993,155.264999,145.322952,1231990.0,1.297781
2010-01-06,155.505005,158.149994,153.210007,157.279999,147.208893,1882490.0,-1.522765
2010-01-07,157.895004,157.895004,153.335007,154.884995,144.967255,923100.0,1.685121
2010-01-08,155.580002,160.500000,155.005005,157.494995,147.410141,3298080.0,-0.015870
2010-01-11,158.570007,159.440002,156.485001,157.470001,147.386734,1032970.0,-0.184167
2010-01-12,157.470001,158.979996,154.800003,157.179993,147.115311,1534080.0,-1.526908
2010-01-13,155.500000,157.365005,152.835007,154.779999,144.868973,934880.0,0.755910
2010-01-14,157.000000,158.100006,155.024994,155.949997,145.964081,1520300.0,-2.205837

### Saving the dataset...

In [13]:
data1.to_csv("PreviousDayClose%.csv", index=True)

# For Time stamp = 30
similar code.....

In [14]:
data2= data.copy()

In [15]:
# Growth calculation for ecery 30 active days
percent=[]
for i in range(len(data2)):
    if i+30<len(data2):
        p0= data2["Close"][i]
        p1= data2["Close"][i+30]
        
        percent.append(((p1-p0)/p0)*100)

In [16]:
len(percent)

2757

In [17]:
# Drop 1st row of data1
data2= data.iloc[:-30, :]
len(data2)

2757

In [18]:
# Adding percent column to data1
data2["Growth% of Close from previous 30 days"]= percent

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
# Setting Date as new index
data2.set_index("Date", inplace = True)
data2.head(35) # compare 1st 5 and last last 5 values oc close price

,Open,High,Low,Close,Adj Close,Volume,Growth% of Close from previous 30 days
Date,,,,,,,
2009-12-01,145.354996,155.500000,145.354996,153.990005,144.129593,4338810.0,-7.006953
2009-12-02,156.399994,160.000000,148.660004,149.720001,140.133011,4689480.0,-3.519906
2009-12-03,150.014999,152.100006,148.750000,149.475006,139.903687,2534030.0,-4.933935
2009-12-04,148.500000,150.880005,145.110001,148.270004,138.775833,1216690.0,-2.461731
2009-12-07,148.509995,149.789993,144.110001,145.190002,135.893051,1559620.0,1.456706
2009-12-08,145.300003,148.199997,144.535004,146.479996,137.100494,1795420.0,2.846804
2009-12-09,147.000000,149.695007,143.910004,147.994995,138.518448,2182250.0,2.273730
2009-12-10,149.500000,149.500000,144.899994,145.274994,135.972641,1275630.0,3.352270
2009-12-11,146.100006,146.940002,143.005005,144.225006,134.989868,1726640.0,3.945215
2009-12-14,144.199997,147.800003,144.199997,145.535004,136.215958,1368280.0,1.274604
2009-12-15,146.199997,146.899994,144.625000,145.380005,136.070908,915890.0,3.986104
2009-12-16,146.800003,148.000000,145.320007,147.320007,137.886673,1155240.0,4.693859
2009-12-17,147.990005,149.759995,146.005005,148.895004,139.360840,1802490.0,1.383524
2009-12-18,149.470001,152.250000,147.699997,150.475006,140.839645,2254220.0,1.036716
2009-12-21,150.899994,151.399994,147.509995,149.835007,140.240646,1124660.0,1.985511
2009-12-22,151.399994,151.500000,147.949997,150.294998,140.671188,1466110.0,2.761242
2010-01-04,153.800003,153.800003,150.110001,150.735001,141.083023,831170.0,2.282152
2010-01-05,152.199997,155.880005,151.304993,155.264999,145.322952,1231990.0,-0.486268
2010-01-06,155.505005,158.149994,153.210007,157.279999,147.208893,1882490.0,-1.459180
2010-01-07,157.895004,157.895004,153.335007,154.884995,144.967255,923100.0,-0.842556
2010-01-08,155.580002,160.500000,155.005005,157.494995,147.410141,3298080.0,-0.288899
2010-01-11,158.570007,159.440002,156.485001,157.470001,147.386734,1032970.0,-2.997397
2010-01-12,157.470001,158.979996,154.800003,157.179993,147.115311,1534080.0,-3.254225
2010-01-13,155.500000,157.365005,152.835007,154.779999,144.868973,934880.0,-0.523322
2010-01-14,157.000000,158.100006,155.024994,155.949997,145.964081,1520300.0,-0.516187
2010-01-15,155.500000,156.750000,152.000000,152.509995,142.744354,1165560.0,2.409680
2010-01-18,152.500000,154.785004,151.000000,151.645004,141.934769,1561220.0,4.639117
2010-01-19,152.699997,152.699997,147.309998,148.589996,139.075363,852620.0,8.533554
2010-01-20,148.005005,149.380005,146.580002,147.335007,137.900742,1596560.0,11.287195
2010-01-21,147.300003,149.380005,145.500000,146.485001,137.105164,1417400.0,12.967195
2010-01-22,145.000000,145.000000,140.000000,143.199997,134.030457,3423490.0,14.783518
2010-01-25,144.449997,145.600006,140.000000,144.449997,135.200455,2196320.0,17.213573
2010-01-27,143.600006,144.485001,140.289993,142.100006,133.000931,2767580.0,16.505972
2010-01-28,142.500000,148.994995,141.009995,144.619995,135.359573,3399690.0,12.228598
2010-01-29,142.000000,152.500000,142.000000,147.304993,137.872635,3314050.0,13.543337

### Saving the dataset.....

In [20]:
data2.to_csv("Previous30DayClose%.csv", index=True)